@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Be Vietnam Pro', sans-serif;
    background: var(--White-97, #F7F7F8);
}

.rote {
    transform: rotate(320deg);
    font-size: larger;
}

.noBreak {
    white-space: nowrap;
}

.grig {
    display: grid;
    grid-template-columns: 1fr auto;
}

.gr {
    justify-self: end;
    background-color: blue;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 24px;
}

.last--Item {
    grid-column: span 2;
    grid-row: span 1;
}

.item1 {
    grid-column: span 2;
    grid-row: span 1;
}

input {
    outline: none !important;
}

textarea {
    outline: none !important;
}

@media only screen and (max-width: 600px) {
    .grid-wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 24px;
    }

    .grid--Item {
        grid-column: span 2;
        grid-row: span 1;
    } 
}