@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Be Vietnam Pro', sans-serif;
    background: var(--White-97, #F7F7F8);
}

.rote {
    transform: rotate(320deg);
    font-size: larger;
}

.noBreak {
    white-space: nowrap;
}

.grig {
    display: grid;
    grid-template-columns: 1fr auto;
}

.gr {
    justify-self: end;
    background-color: blue;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 24px;
}

.last--Item {
    grid-column: span 2 !important;
    grid-row: span 1 !important;
    width: 100%;
}

.item1 {
    grid-column: span 2;
    grid-row: span 1;
}

input {
    outline: none !important;
}

textarea {
    outline: none !important;
}

.line--mark {
    border-right: 3px !important;
}

.load {
    display: block;
    position: fixed;
    z-index: 10000;
    left: 0;
    top: 0;
    width: 100% !important;
    height: 100% !important;
    overflow: auto;
    backdrop-filter: blur(2px);
    background-color: rgba(0, 0, 0, 0.7);
}

.load-content {
    border: 10px solid #fff;
    border-top: 10px solid #C4C4C4;
    border-radius: 50%;
    margin: 15% auto;
    width: 100px;
    height: 100px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
        opacity: 100%;
       
    }

    100% {
        transform: rotate(360deg);
        opacity: 100%;
    }
}

.modal {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    backdrop-filter: blur(2px);
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 8% auto;
    padding: 50px;
    border-radius: 12px;
    border: none;
    width: 60%;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.5);
}

.swiper {
    padding-bottom: 100px;
    position: relative;
}

.swiper-button-prev, .swiper-button-next {
    margin-top: 140px;
    opacity: 0;
}

.swiper-button-prev {
    margin-left: 350px;
}

.arrowrightNav, .arrowleftNav {
    position: absolute;
    cursor: pointer;
}


.arrowleftNav {
    background-color: #fff;
    padding: 14px 18px;
    border-radius: 8px;
    right: 104px;
    bottom: 6px;
    border: 1px solid #F1F1F3;
}

.arrowrightNav {
    background-color: #fff;
    padding: 14px 18px;
    border-radius: 8px;
    right: 0;
    bottom: 6px;
    border: 1px solid #F1F1F3;
}

.checkbox {
    accent-color: #ff9500;
    cursor: pointer;
}

.benefit-card {
    transition: all ease-in-out 0.5s !important;
}

.benefit-card:hover {
    transform: translateY(-5px) !important;
    box-shadow: 0px 0px 20px 5px rgba(105, 105, 105, 0.1) !important;
}

.course-card {
    transition: all ease-in-out 0.5s !important;
}

.course-card:hover {
    box-shadow: 0px 0px 20px 5px rgba(105, 105, 105, 0.1) !important;
}

.imgScale {
    transition: transform ease-in-out 0.5s !important;
}

.imgScale:hover {
    transform: scale(1.1) !important;
}

.errorMgs {
    display: none;
}

.inputs:invalid ~ .errorMgs {
    display: block;
}

@media only screen and (max-width: 1280px) {
    .swiper {
        padding-bottom: 100px;
        position: relative;
    }
    
    .swiper-button-prev, .swiper-button-next {
        margin-top: 138px;
    }
    
    .swiper-button-prev {
        margin-left: 320px;
    }
    
    .arrowleftNav {
        background-color: #fff;
        padding: 14px 18px;
        border-radius: 8px;
        right: 104px;
        bottom: 6px;
        border: 1px solid #F1F1F3;
    }
    
    .arrowrightNav {
        background-color: #fff;
        padding: 14px 18px;
        border-radius: 8px;
        right: 0;
        bottom: 6px;
        border: 1px solid #F1F1F3;
    }
}

@media only screen and (max-width: 1024px) {
    .swiper {
        padding-bottom: 100px;
        position: relative;
    }
    
    .swiper-button-prev, .swiper-button-next {
        margin-top: 152px;
    }
    
    .swiper-button-prev {
        margin-left: 220px;
    }
    
    .arrowleftNav {
        background-color: #fff;
        padding: 14px 18px;
        border-radius: 8px;
        right: 104px;
        bottom: 6px;
        border: 1px solid #F1F1F3;
    }
    
    .arrowrightNav {
        background-color: #fff;
        padding: 14px 18px;
        border-radius: 8px;
        right: 0;
        bottom: 6px;
        border: 1px solid #F1F1F3;
    }
}

@media only screen and (max-width: 912px) {
    .swiper {
        padding-bottom: 100px;
        position: relative;
    }
    
    .swiper-button-prev, .swiper-button-next {
        margin-top: 87px;
    }
    
    .swiper-button-prev {
        margin-left: 660px;
    }
    
    .arrowleftNav {
        background-color: #fff;
        padding: 14px 18px;
        border-radius: 8px;
        right: 104px;
        bottom: 6px;
        border: 1px solid #F1F1F3;
    }
    
    .arrowrightNav {
        background-color: #fff;
        padding: 14px 18px;
        border-radius: 8px;
        right: 0;
        bottom: 6px;
        border: 1px solid #F1F1F3;
    }
}

@media only screen and (max-width: 820px) {
    .swiper {
        padding-bottom: 100px;
        position: relative;
    }
    
    .swiper-button-prev, .swiper-button-next {
        margin-top: 100px;
    }
    
    .swiper-button-prev {
        margin-left: 565px;
    }
    
    .arrowleftNav {
        background-color: #fff;
        padding: 14px 18px;
        border-radius: 8px;
        right: 104px;
        bottom: 6px;
        border: 1px solid #F1F1F3;
    }
    
    .arrowrightNav {
        background-color: #fff;
        padding: 14px 18px;
        border-radius: 8px;
        right: 0;
        bottom: 6px;
        border: 1px solid #F1F1F3;
    }
}

@media only screen and (max-width: 768px) {
    .swiper {
        padding-bottom: 100px;
        position: relative;
    }
    
    .swiper-button-prev, .swiper-button-next {
        margin-top: 100px;
    }
    
    .swiper-button-prev {
        margin-left: 536px;
    }
    
    .arrowleftNav {
        background-color: #fff;
        padding: 14px 18px;
        border-radius: 8px;
        right: 104px;
        bottom: 6px;
        border: 1px solid #F1F1F3;
    }
    
    .arrowrightNav {
        background-color: #fff;
        padding: 14px 18px;
        border-radius: 8px;
        right: 0;
        bottom: 6px;
        border: 1px solid #F1F1F3;
    }
}

@media only screen and (max-width: 600px) {
    .grid-wrapper {
        display: flex;
       flex-direction: column;
    }

    .load {
        display: block;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        backdrop-filter: blur(2px);
        background-color: rgba(0, 0, 0, 0.7);
    }
    
    .load-content {
        border: 10px solid #fff;
        border-top: 10px solid #C4C4C4;
        border-radius: 50%;
        margin: 70% auto;
        width: 100px;
        height: 100px;
        animation: spin 1s linear infinite;
    }
    
    @keyframes spin {
        0% {
            transform: rotate(0deg);
            opacity: 100%;
           
        }
    
        100% {
            transform: rotate(360deg);
            opacity: 100%;
        }
    }
    
    .modal {
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        backdrop-filter: blur(2px);
        background-color: rgba(0, 0, 0, 0.5);
    }
    
    .modal-content {
        background-color: #fefefe;
        margin: 50% auto;
        padding: 20px;
        border-radius: 12px;
        border: none;
        width: 90%;
        box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.5);
    }
}

@media only screen and (max-width: 540px) {
    .swiper {
        padding-bottom: 100px;
        position: relative;
    }
    
    .swiper-button-prev, .swiper-button-next {
        margin-top: 110px;
    }
    
    .swiper-button-prev {
        margin-left: 360px;
    }
    
    .arrowleftNav {
        background-color: #fff;
        padding: 14px 18px;
        border-radius: 8px;
        right: 104px;
        bottom: 6px;
        border: 1px solid #F1F1F3;
    }
    
    .arrowrightNav {
        background-color: #fff;
        padding: 14px 18px;
        border-radius: 8px;
        right: 0;
        bottom: 6px;
        border: 1px solid #F1F1F3;
    }
}

@media only screen and (max-width: 430px) {
    .swiper {
        padding-bottom: 100px;
        position: relative;
    }
    
    .swiper-button-prev, .swiper-button-next {
        margin-top: 123px;
    }
    
    .swiper-button-prev {
        margin-left: 255px;
    }
    
    .arrowleftNav {
        background-color: #fff;
        padding: 14px 18px;
        border-radius: 8px;
        right: 104px;
        bottom: 6px;
        border: 1px solid #F1F1F3;
    }
    
    .arrowrightNav {
        background-color: #fff;
        padding: 14px 18px;
        border-radius: 8px;
        right: 0;
        bottom: 6px;
        border: 1px solid #F1F1F3;
    }
}

@media only screen and (max-width: 414px) {
    .swiper {
        padding-bottom: 100px;
        position: relative;
    }
    
    .swiper-button-prev, .swiper-button-next {
        margin-top: 123px;
    }
    
    .swiper-button-prev {
        margin-left: 235px;
    }
    
    .arrowleftNav {
        background-color: #fff;
        padding: 14px 18px;
        border-radius: 8px;
        right: 104px;
        bottom: 6px;
        border: 1px solid #F1F1F3;
    }
    
    .arrowrightNav {
        background-color: #fff;
        padding: 14px 18px;
        border-radius: 8px;
        right: 0;
        bottom: 6px;
        border: 1px solid #F1F1F3;
    }
}


@media only screen and (max-width: 390px) {
    .swiper {
        padding-bottom: 100px;
        position: relative;
    }
    
    .swiper-button-prev, .swiper-button-next {
        margin-top: 123px;
    }
    
    .swiper-button-prev {
        margin-left: 215px;
    }
    
    .arrowleftNav {
        background-color: #fff;
        padding: 14px 18px;
        border-radius: 8px;
        right: 104px;
        bottom: 6px;
        border: 1px solid #F1F1F3;
    }
    
    .arrowrightNav {
        background-color: #fff;
        padding: 14px 18px;
        border-radius: 8px;
        right: 0;
        bottom: 6px;
        border: 1px solid #F1F1F3;
    }
}

@media only screen and (max-width: 360px) {
    .swiper {
        padding-bottom: 100px;
        position: relative;
    }
    
    .swiper-button-prev, .swiper-button-next {
        margin-top: 123px;
    }
    
    .swiper-button-prev {
        margin-left: 185px;
    }
    
    .arrowleftNav {
        background-color: #fff;
        padding: 14px 18px;
        border-radius: 8px;
        right: 104px;
        bottom: 6px;
        border: 1px solid #F1F1F3;
    }
    
    .arrowrightNav {
        background-color: #fff;
        padding: 14px 18px;
        border-radius: 8px;
        right: 0;
        bottom: 6px;
        border: 1px solid #F1F1F3;
    }
}

@media only screen and (max-width: 360px) {
    .swiper {
        padding-bottom: 100px;
        position: relative;
    }
    
    .swiper-button-prev, .swiper-button-next {
        margin-top: 123px;
    }
    
    .swiper-button-prev {
        margin-left: 185px;
    }
    
    .arrowleftNav {
        background-color: #fff;
        padding: 14px 18px;
        border-radius: 8px;
        right: 104px;
        bottom: 6px;
        border: 1px solid #F1F1F3;
    }
    
    .arrowrightNav {
        background-color: #fff;
        padding: 14px 18px;
        border-radius: 8px;
        right: 0;
        bottom: 6px;
        border: 1px solid #F1F1F3;
    }
}